@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

/*GENERAL TEXT AND COLOR STYLE*/

body{
	background-color: #Ebe3e0;
	color: #2B3856;
}

section{
	height: 585px;
}

/*page title and menu*/
h2{
	font-family: 'Raleway', Sans-Serif;
	font-size: 2em;
}

/*subtitles only*/
h4{
	font-family: 'Raleway', Sans-Serif;
	font-size: 1.2em;
}

/*contacts only*/
h3{
	font-family: 'Muli', Sans-Serif;
	font-size: 1.5em;
	letter-spacing: 1.3px;
}

/*footer only*/
h5{
	font-family: 'Muli', Sans-Serif;
	font-size: 0.7em;
	letter-spacing: 1px;
}

p{
	font-family: 'Muli', Sans-Serif;
	font-size: 1em;
	text-align: left;
}

q{
	font-family: 'Muli', Sans-Serif;
	font-size: 0.8em;
	letter-spacing: 0.07em;
}

li{
	font-family: 'Muli', Sans-Serif;
}

a{
	font-family: 'Raleway', Sans-Serif;
	font-size: 1.5em;
	letter-spacing: 1.3px;
}

/*projects info only*/

span{
	font-weight: bold;
}

header{
	background-color: #2B3856;
	color: #Ebe3e0;
}

/*JQUERY*/

.hidden{
	display: none;
}


/*HEADER*/

header{
	position: fixed;
	width: 100%;
	height: auto;
}

header img{
	width: 40%;
	padding-left: 1%;
	padding-top: 0.2%;
}

#menu{
	display: inline-block;
	width: 22%;
	height: auto;
	vertical-align: top;
	margin-left: 25%;
	margin-top: 1%;
}

#menu ul{
	display: inline;

}

#menu li{
	display: inline-block;
	vertical-align: top;
    margin: 0.5% 1%;
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 1px;
}

.checked{
	border-bottom: 1px solid #Ebe3e0;
}

/*SECTION HOME*/

#home{
	padding-top: 5%;
	width: 100%;
	background-image: url("images/main.jpg");
	background-size: 107%;
	background-repeat: no-repeat;
}

.home_box{
	background-color: rgba(235, 227, 224, 0.7);
	width: 70%;
	margin: 10% auto;
	padding: 3% 0;
	border-radius: 10px;
}

#home h2{
	text-align: center;
	font-size: 2.5em;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 1%;
}

.typewriter{
	margin: 2% auto;
}

#home .typewriter h2 {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
	width: 85%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #eb3856; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s steps(20, end),
    blink-caret .75s step-end;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 85% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #eb3856; }
}


/*SECTION PROJECT*/

#project{
	width: 100%;
	padding-top: 8%;
	margin: 0% auto;
	background-image: url('images/office.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#tabs{
	width: 76%;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

.project_desc p{
	width: 100%;
	margin-bottom: 2%;
	text-align: justify;
}

.project_desc h3{
	margin-bottom: 2%;
	font-size: 1em;
}


.project_desc a{
	display: block;
	font-size: 1.1em;
	text-decoration: underline;
	text-align: right;
}


/*SECTION ABOUT*/

#about{
	width: 100%;	
	padding-top: 8%;
	margin: 0% auto;
	background-image: url('images/about.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#about h2{
	width: 30%;
	padding: 1%;
	text-align: center;
	margin: 0% 34%;
}

#about li p{
	width: 78%;
	margin: 0% 11% 2% 11%;
	text-align: justify;
}

#about_main{
	width: 80%;
	margin:  1% 11% 2% 11%;
	text-align: justify;
}

.collapse_on{
	width: 79%;
	margin: 0% 8% 0% 11%;
	padding: 1% 1%;
}

.collapse_off{
	border-radius: 10px 10px 0px 0px;
	
}

#about h4{
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5%;
}

#about h4 p{
	width: 78%;
	margin: 0% 11% 2% 11%;
}

#about img{
	width: 3%;
	vertical-align: middle;
}

.animate-icon{
	transform: rotate(15deg);
}

/*SECTION CONTACTS*/

#contacts{
	width: 50%;
	height: 425px;
	margin: 5% auto 4% auto;
    padding: 1% 0% 0.5% 0%;
    box-shadow: 10px 10px 5px rgba(235, 56, 86, 0.3);
	background-color: rgba(187, 197, 221, 0.3);
	border-radius: 10px;
}

#contacts h2{
	width: 55%;
	text-align: center;
	margin: 1% auto 8% auto;
	letter-spacing: 1px;
	font-weight: bold;
	color: #2B3856;
}

.contacts_desc{
	width: 70%;
	margin: 5% auto 2% auto;
}

.contacts_desc img{
	display: inline-block;
}

#linkedin{
	width: 11%;
}

#message{
	width: 10%;
	margin-right: 1%;
}

#github{
	width: 14%;
}

#download{
	width: 10%;
}

.contacts_desc h3{
	display: inline-block;
	vertical-align: top;
	margin-top: 2%;
	margin-left: 1%;
}

/*FOOTER*/

footer{
	width: 20%;
	margin: 3% auto 0.3% auto;
}

/*MEDIA QUERIES*/

@media (min-width: 1366px) and (min-height: 768px) {
	#home{
		background-size: 125%;
		height: 740px;
	}

	#project{
		height: 650px;
	}

	#about{
		height: 650px;
	}

	#contacts{
		min-height: 550px;
	}
}

@media (min-height: 636px) {
	#home{
		background-size: 130%;
		height: 685px;
		padding-top: 8%;
	}

	#project{
		background-size: 110%;
		height: 665px;
	}

	#about{
		background-size: 105%;
		height: 670px;
	}

	#contacts{
		height: 530px;
	}
}

@media (max-width: 1279px) {
/*and (orientation: portrait)*/
	h2{
		font-size: 1.4em;
	}

	#menu{
		display: none;
	}

	header img{
		width: 45%;
	}

	.home_box{
		width: 76%;
	}

	#home h2{
		font-size: 1.4em;
	}

	#home .typewriter h2{
		font-size: 1.6em;
	}

	#project #tabs ul li a{
		font-size: 0.7em;
	}

	#project #tabs .project_desc p, #project #tabs .project_desc h3, #project #tabs .project_desc a{
		font-size: 0.7em;
	}

	#about p{
		font-size: 0.8em;
	}

	#about li h4{
		font-size: 0.9em;
	}

	#about li p{
		font-size: 0.8em;
	}

	#contacts{
		width: 68%;
	}

	#contacts h2{
		width: 65%;
	}

	.contacts_desc h3{
		font-size: 1em;
	}

	footer{
		width: 27%;
	}
}







