@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);


body {
	font-size: 18px;
	background-color: #FFFFCC;
	text-align: center;
	position: relative;
	
}


h1 {
	font-family: 'Cinzel Decorative', serif;
	font-size: 2.3em;
	color: #FF7F57;  
}

h2 {
	font-family: 'Alex Brush', serif;
	font-size: 2.3em;
	letter-spacing: 0.5px;
	color: #FF7F57;  
}

h3 {
	font-family: 'Quattrocento', serif;
	font-size: 1.6em;
	color: #FF9700;
	padding: 2% 0;
}

h4 {
	font-family: 'Quattrocento', serif;
	font-size: 1em;
	color: #FF9700;

}

nav {
	font-family: 'Quattrocento', serif;
	font-size: 1em;
	line-height: 2em;
	color: #FF9700;

}

main {
	height: 100vh;
}

/*label{
  display:block;
  padding: 1%;
}

label img {
	width: 5%;
}*/

a {
	text-decoration: none;
	color: inherit;
	
}


section {
	width: 96%;
	border: 2px solid #FF9700;
	border-radius: 5px;
	margin: 1% 2%;
	box-sizing: border-box;
	padding-bottom: 1%;

}

section img {
	width: 100%;
	border-radius: 5px;
}

p {
	font-family: 'Quattrocento', serif;
	font-size: 0.8em;
	line-height: 1.5em;

}

footer {
	color: #F2C12E;
	font-size: 0.8em;
	letter-spacing: 0.5px;
	clear: both;
	width:100%;
	position: absolute;
	bottom: 15px;
}

.menu_option {
	margin: 0 1% 0 1%;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #FF9700;
	padding-bottom: 0.5%;
}

.bold {
	font-weight: bold;
}

/*.wrap_list {
	float: left;
}*/

.location {
	width: 100%;
	padding: 1%;
}

.item {
	width: 23%;
	padding: 0%;
	margin: 0 1% 1%;
	float: left;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	font-size: 0px;
	height: 0px;
	clear: both;

}

#wrap_header {
	width: 100%;
	padding: 1% 2%;
	box-sizing: border-box;
}

#wrap_title {
	width: 100%;

}

#wrap_menu {
	width: 100%;
	
}

/*#input{
  display:none;
}*/

#menu{
  padding: 1% 0 0 0;
  
}

/*#input:checked + #menu{
  display:block;
  background-color: #F2C12E;
}*/

#hero {
	width: 86%;
	border: 3px solid #FF9700;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 1% 7%;

}

#hero img {
	width: 100%;
	display: block;

}

#wrap_about {
	width: 54%;
	box-sizing: border-box;
	margin: 2% 23%;
	padding: 2% 0;
	border: 3px solid #FF9700;
	border-radius: 5px;
}

#wedding {
	width: 100%;
	
}

#wedding img {
	width: 92%;
	border-radius: 5px;
}

#main_desc {
	color: #FF9700;
	text-align: left;
	width: 92%;
	padding: 1% 4%;
	letter-spacing: 1px;
	text-align: justify;
}


#wrap_contact {
	border: 3px solid #FF9700;
	border-radius: 5px;
	width: 40%;
	padding: 4%;
	margin: 5% 26%;
}

#contact {
	color: #FF9700;
	text-align: center;
	width: 96%;
	letter-spacing: 1px;
	line-height: 2.5em;
	font-size: 1em;
}

#email {
	color: #FF7F57;
	text-decoration: underline;
}


/*@media only screen and (max-width:1036px) and (min-width:320px) {

	footer {
		position: absolute;
		bottom: 20px;
	}

}


@media only screen and (max-width:861px) and (min-width:665px) {

	#wrap_contact {
		width: 60%;
		padding: 5% 7%;
		margin: 5% 13%;

	}

}

@media only screen and (max-width:675px) and (min-width:320px) {

	#wrap_contact {
		width: 52%;
		padding: 5% 12%;
		margin: 5% 12%;

	}

}

@media only screen and (max-width:540px) and (min-width:320px) {

	body {
		margin-left: 2%
	}

	h1, h2 {
		font-size: 2em;
	}

	nav {
		font-size: 1.1em;
		line-height: 2.3em;
	}

	#wrap_contact {
		margin: 5% 10% 5% 8%;

	}

}

@media only screen and (max-width:405px) and (min-width:320px) {

	h1, h2 {
		font-size: 1.9em;
	}

	nav {
		font-size: 1em;
		line-height: 2.2em;
	}

}*/


