@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);


body {
	font-family: 'Muli', Sans-Serif;
	background-color: #Ebe3e0;
	color: #2B3856;
	font-size: 18px;
	text-align: center;
}



h1 {
	font-family: 'Limelight', Serif;
	font-size: 4em;
	font-weight: bold;
}

hr {
	height: 5px;
	background-color: #Ebe3e0;
	border-radius: 5px;
}

h2 {
	font-family: 'Raleway', Sans-Serif;
	font-size: 2em;
	line-height: 1em;
}

h3 {
	font-size: 1.5em;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h4 {
	font-size: 1.2em;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	line-height: 1.5em;
	text-align: left;
}

footer {
	font-size: 0.8em;
	padding: 3% 0 0.5% 0;
	clear: both;
}

.quotation {
	font-family: 'Dancing Script', Sans-Serif;
	font-size: 1.7em;
	letter-spacing: 0.07em;
	line-height: 1.5em;
}



.cta {
	font-family: 'Raleway', Sans-Serif;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	color: #2B3856;
	background-color: #Ebe3e0;
	width: 25%;
	padding: 2% 12%;
	margin: 0.5% 0.25%;
	display: inline-block;
	border-radius: 10px;

}

.cta:hover {
	font-size: 2.6em;
}

.menu {
	font-family: 'Raleway', Sans-Serif;
	font-size: 1.5em;
	display: inline-block;
	width: 12%;
	text-align: center;
	margin: 0 7% 0 0;

}

.unchecked:hover {
	font-size: 1.6em;
}

.project_box {
	width: 31.33%;
	padding: 1%;
	margin: 0 1%;
	background-color: #2B3856;
	color: #Ebe3e0;
	border-radius: 1%;
	float: left;
	box-sizing: border-box;

}

.project_box img {
	width: 100%;
	box-sizing: border-box;
}

.project_box a {
	font-size: 0.9em;
	text-decoration: underline;
}

.project_details {
	width: 100%;
	padding: 0 0 4% 0;
}

.project_details img {
	width: 100%;
}

.left_img {
	width: 50%;
	padding: 0 2% 0 0;
	float: left;
}

.side_desc {
	padding: 7.55% 0;
	text-align: center;
}

.bottom_desc {
	padding: 1% 0 0 0;

}

.button_right {
	width: 18%;
	padding: 1%;
	margin: 6% 0%;
	color: #Ebe3e0;
	background-color: #2B3856;
	font-weight: bold;
	letter-spacing: 0.1em;
	box-sizing: border-box;
	border-radius: 10px;
	float: right;
	clear:both;

}

.button_right:hover {
	font-size: 1.1em;
}

.button_left {
	width: 18%;
	padding: 1%;
	margin: 6% 0%;
	color: #Ebe3e0;
	background-color: #2B3856;
	font-weight: bold;
	letter-spacing: 0.1em;
	box-sizing: border-box;
	border-radius: 10px;
	float: left;
	clear:both;
}

.button_left:hover {
	font-size: 1.1em;
}

.download {
	padding: 4% 0 0 0;
	text-align: center;
}

.download img {
	width: 4%;
}

.section {
	padding: 0 0 1.5% 0;
}

.section_title {
	width: 100%;
	padding: 0 0 0.5% 0;
	font-weight: bold;
	letter-spacing: 1px;
}

.section_list {
	padding: 1% 0;
}

.about_img {
	float: left;
	width: 48.5%;
	margin: 0 1.5% 0 0;
}

.about_img img {
	padding: 0.5% 26% 0 26%;
}

.about_title {
	font-weight: bold;
}

.contact {
	padding: 0 0 4% 0;

}

.contact_icon {
	float: left;
	padding: 0 1% 0 0;
	width: 7%;

}

.contact_desc {
	width: 100%;
	padding: 2% 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0px;
}

#home {
	background-color: #2B3856;
	color: #Ebe3e0;
	margin: 1% 5%;
}

#header_home {
	width: 66%;
	padding: 5% 17% 6% 17%;
}


#quote {
	width: 95%;
	padding: 0 2.5% 5% 2.5%;
}

#wrap_cta {
	width: 95%;
	padding: 0 2.5%;
}

#wrap_header {
	width: 90%;
	padding: 1% 5%;
	background-color: #2B3856;
	color: #Ebe3e0;
	
}

#logo_title {
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 0.8%;
}

#logo {
	float: left;
	padding: 0 1.5% 0 0;
}

#title {
	padding: 2.5% 0;
	font-size: 3.5em;
	text-align: left;
}

#nav_menu {
	width: 100%;
	display: inline-block;
	text-align: left;
}

#checked {
	font-size: 1.6em;
	border-bottom: 2px solid #Ebe3e0;
	padding-bottom: 0.8%;

}

#page_name {
	width: 90%;
	padding: 4% 5%;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: bold;
}

#wrap_projects {
	width: 92%;
	padding: 0 4%;
}

#project_link {
	width: 100%;
	text-align: right;
	padding: 3% 0 0 0;
	letter-spacing: 0.5px;
}

#wrap_details {
	width: 90%;
	padding: 0 5%;
}

#main_desc {
	width: 100%;
	padding: 0 0 4% 0;
}

#clear_buttons {
	clear: both;
}

#fixclear {
	clear: none;
}

#wrap_resume {
	width: 90%;
	padding: 0 5% 4% 5%;
	text-align: left;
}

#wrap_resume li {
	list-style-type: circle;
	list-style-position: inside;
	line-height: 1.5em;
}

#wrap_about {
	width: 90%;
	padding: 0 5%;
	text-align: left;
}


#wrap_about li {
	list-style-type: circle;
	list-style-position: inside;
	line-height: 1.5em;
}

#wrap_contacts {
	width: 90%;
	padding: 0 5% 7% 5%;
	text-align: left;

}

#contact2 {
	clear: both;
}





/*@media only screen and (max-width:) and (min-width:) {
	
}*/

