@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);


body {
	font-family: 'Muli', Sans-Serif;
	background-color: #Ebe3e0;
	color: #2B3856;
	font-size: 18px;
	text-align: center;
}



h1 {
	font-family: 'Limelight', Serif;
	font-size: 4em;
	font-weight: bold;
}

hr {
	height: 5px;
	background-color: #Ebe3e0;
	border-radius: 5px;
}

h2 {
	font-family: 'Raleway', Sans-Serif;
	font-size: 2em;
	line-height: 1em;
}

h3 {
	font-size: 1.5em;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h4 {
	font-size: 1.2em;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: inherit;
}

footer {
	font-size: 0.8em;
	padding-top: 3%;
	clear: both;
}

.quotation {
	font-family: 'Dancing Script', Sans-Serif;
	font-size: 1.7em;
	letter-spacing: 0.07em;
	line-height: 1.5em;
}



.cta {
	font-family: 'Raleway', Sans-Serif;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	color: #2B3856;
	background-color: #Ebe3e0;
	width: 25%;
	padding: 2% 12%;
	margin: 0.5% 0.25%;
	display: inline-block;
	border-radius: 10px;

}

.cta:hover {
	font-size: 2.6em;
}

.menu {
	font-family: 'Raleway', Sans-Serif;
	font-size: 1.5em;
	display: inline-block;
	width: 12%;
	text-align: center;
	margin: 0 7% 0 0;

}

.unchecked:hover {
	font-size: 1.6em;
}

.project_box {
	width: 31.33%;
	padding: 1%;
	margin: 0 1%;
	background-color: #2B3856;
	color: #Ebe3e0;
	border-radius: 1%;
	float: left;
	box-sizing: border-box;

}

.project_box img {
	width: 100%;
	box-sizing: border-box;
}

.project_box a {
	font-size: 0.9em;
	text-decoration: underline;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0px;
}

#home {
	background-color: #2B3856;
	color: #Ebe3e0;
	margin: 1% 5%;
}

#header_home {
	width: 66%;
	padding: 5% 17% 6% 17%;
}


#quote {
	width: 95%;
	padding: 0 2.5% 5% 2.5%;
}

#wrap_cta {
	width: 95%;
	padding: 0 2.5%;
}

#wrap_header {
	width: 90%;
	padding: 1% 5%;
	background-color: #2B3856;
	color: #Ebe3e0;
	
}

#logo_title {
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 0.8%;
}

#logo {
	float: left;
	padding: 0 1.5% 0 0;
}

#title {
	padding: 2.5% 0;
	font-size: 3.5em;
	text-align: left;
}

#nav_menu {
	width: 100%;
	display: inline-block;
	text-align: left;
}

#checked {
	font-size: 1.6em;
	border-bottom: 2px solid #Ebe3e0;
	padding-bottom: 0.8%;

}

#page_name {
	width: 90%;
	padding: 4% 5%;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: bold;
}

#wrap_projects {
	width: 92%;
	padding: 0 4%;
}

#project_link {
	width: 100%;
	text-align: right;
	padding: 3% 0 0 0;
}


/*@media only screen and (max-width:) and (min-width:) {
	
}*/

