@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Muli);

body {
	font-family: 'Muli', Sans-Serif;
	color: #2B3856;	
	margin: 0;

}

header {
	background-color: #Ebe3e0;

}


h1 {
	font-family: 'Limelight', Serif;
	font-size: 60px;
	color: #2B3856;
	display: block;
	float: left;
	width: 800px;
	padding: 40px 0;
	margin: 0;
	
}


a {
	text-decoration: none;	

}


h3 {
	font-size: 18px;
	line-height: 1.5em;
}


li {
	line-height: 2em;
	list-style-type: none;
	
}


footer {
	padding: 10px 0;
	background-color: #Ebe3e0;
	margin: auto;
	text-align: center;
}


.home_menu {
	font-size: 20px;
	font-weight: 700;
	color: #2B3856;
	text-align: center;
	line-height: 80px;
	margin: 2em;

}


.quotation {
	font-size: 18px;
	text-align: center;	

}


.column {
	display: inline-block;
	width:600px;
	/*margin:auto;*/
	/*padding: 15px 0;*/
	/*border-style: solid;
	border-color: #2B3856;*/
	height: 250px;
}

.column img {
	/*text-align: center;
	display: block;*/
	
}


.social {
	padding: 0;
	text-align: center;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0px;

}


#logo {
	padding: 30px;
	display: block;
	float: left;
}


#nav_home {
	font-family: 'Raleway', Sans-Serif;
	background-color: #Ebe3e0;
	/*margin: auto;
	height: 80px;*/

}

#main_quotation {
	margin: 35px 0;
}


#desc_home {
	font-size: 18px;
	line-height: 2em;
	text-align: center;
	letter-spacing: 0.5px;
	
}

#wrap_column {
	margin: 20px;
	text-align: center;

}


#footer {
	font-size: 18px;
	font-weight: bold;
	line-height: 2em;
	text-align: center;
}