@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Bevan);




body {
	background-color: #EFEEEC; /*#FFFFB1 (light yellow) #FBF6D9 (pink) #EBFFE0 (light green)*/
	margin: 0;


}

h1 {
	font-family: 'Luckiest Guy', serif;
	font-size: 45px;
	letter-spacing: 1.5px;
	color: #2B547E;
	margin: 0;
}

hr {
	width: 295px;
	height: 3px;
	background-color: #2B547E;
	margin: 0;
	padding: 0;
	border: 0;

}

h2 {
	font-family: 'Indie Flower', Sans-Serif;
	font-size: 30px;
	letter-spacing: 1px;
	color: #2B547E;
	margin: 0 auto;
	padding: 0 18px 0 18px;

}

a {
	text-decoration: none;
	width: inherit;
}

main {
	font-family: 'Dosis', Sans-Serif;
	line-height: 2em;

}


h4 {
	font-weight: normal;
	color: #2B547E;

}


.wrap_header {
	height: 150px;
	
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0px;

}


.intro_hp {
	font-size: 20px;
	text-align: center;
	width: 650px;
	margin: 0px

}


#logo {
	padding: 25px 10px 0 30px;
	width: 350px;
	margin: 0;
	box-sizing: border-box;
	float: left;

}

#login_hp {
	background-color: #2B547E;
	font-family: 'Indie Flower', Sans-Serif;
	font-size: 22px;
	letter-spacing: 2.5px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	float: right;
	text-align: center;
	box-sizing: border-box;
	width: 102px;
	height: 42px;
	margin: 36px;
	padding: 5px;
	border-radius: 10px; 
	
}


#login_hp:hover {
	padding: 6px;
}

#wrap_herohp {
	height: 400px;
	margin: 0 358px;

}


#fig_hp {
	width: 350px;
	border-radius: 20px;
	margin: 5px 125px 0 125px;
	
}

#cta_hp {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.2em;
	/*text-align: center;*/
	background-color: #2B547E;
	box-sizing: border-box;
	/*width: 900px;
	height: 30px;*/	
	margin: 0 424px;
	padding: 10px;
	border-radius: 10px;

}

#cta_hp:hover {
	padding: 15px;

}





