body{
	margin: 0px;
	padding: 5% 25%;
	background-color: #f1f1f1;
}

img{
	margin: 10px 0px;

}

p{
	width: 500px;
	text-align: justify;
}

h1{
	text-align: center;
	width: 500px;
}

.vertical{
	width: 250px;
	height: 350px;
}

.horizontal{
	width: 250px;
	height: 150px;
}