body {
	text-align: center;
	font-family: Helvetica, Sans-Serif; 
	background-color: #Ebe3e0;
}

h1 {
	font-family: Impact, Sans-Serif;
	font-size: 60px;
}

hr {
	width: 600px;
	height: 5px;
	color: #f76300;
	background-color: #f76300;
}

header {
	line-height: 20%;
	color: #9b539c;
	letter-spacing: 2px;
}

main {
	font-family: Perpetua, Sans-Serif;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #f76300;
	line-height: 150%;
}


ul {
	/*list-style: none;*/
	text-align: left;
	padding-left: 560px;
}

footer {
	font-family: Perpetua, Sans-Serif;
	font-size: 20px;
	color: #9b539c;
}

a {
	color: #9b539c;
	font-weight: bold;
}

#slogan {
	font-family: Impact, Sans-Serif;
	font-style: italic;
	font-size: 25px;
	line-height: 30px;
	text-align: center;

}
